In [1]:
import numpy as np
import pandas as pd

![title](IMG_0241.jpg)

# Read in Data

In [8]:
olympics = pd.read_csv("athlete_events.csv")
pop = pd.read_csv("world_pop.csv")
gdp = pd.read_csv("world_gdp.csv", skiprows=3)

![title](Screen_Shots/read_data.png)

# Rename column

In [27]:
olympics.rename(columns={'NOC':'Country Code'}, inplace=True)
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,Country Code,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

![title](Screen_Shots/rename_column.png)

In [18]:
gdp=gdp.drop(["Indicator Name", "Indicator Code"],axis=1)

# Melt

In [23]:
# to get ready for merging with GDP, create a column for each year and GDP. make the data long
gdp2 = pd.melt(frame=gdp,id_vars=['Country Name', 'Country Code'], var_name="Year", value_name="value")

In [24]:
gdp2.head()

     Country Name Country Code  Year         value
0     Afghanistan          AFG  1960  5.377778e+08
1         Albania          ALB  1960           NaN
2         Algeria          DZA  1960  2.723649e+09
3  American Samoa          ASM  1960           NaN
4         Andorra          AND  1960           NaN

In [57]:
gdp2["Year"] = gdp2["Year"].astype(int)

# Merge with GDP

In [58]:
mm = pd.merge(olympics,gdp2,left_on=["Country Code","Year"],right_on=["Country Code", "Year"], how='left')

In [59]:
mm.head()

,ID,Name,Sex,Age,Height,Weight,Team,Country Code,Games,Year,Season,City,Sport,Event,Medal,Country Name,value
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,4.269160e+11
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,8.560550e+12
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,NaN,NaN

# String Split

In [ ]:
# find all of the first names

# Filter to look at most recent olympics

In [61]:
recent = mm[(mm['Year']==2016)]
recent.head()

,ID,Name,Sex,Age,Height,Weight,Team,Country Code,Games,Year,Season,City,Sport,Event,Medal,Country Name,value
80,22,Andreea Aanei,F,22.0,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN,Romania,1.875920e+11
139,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NaN,Spain,1.237260e+12
140,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN,Spain,1.237260e+12
141,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NaN,Spain,1.237260e+12
142,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,Spain,1.237260e+12

In [ ]:
# make a 0 if no medal won, 1 if medal won to count up total number of medals

In [84]:
mm['Medal'] = np.where(mm.loc[:,'Medal'] == np.nan , 0,1)

In [86]:
mm["Medal"].value_counts()

1    271116
Name: Medal, dtype: int64