# Data Cleaning Tutorial - R to Python

In [1]:
import pandas as pd
import numpy as np

![title](IMG_0241.jpg)

In this tutorial, we will review some of the most common data cleaning techniques and compare and contrast R to Python. R is the preferred statistical software package, but Python is used more broadly and is becoming increasingly popular in data science.

Today we will explore the differences and perks/drawbacks to each one.

# Reading in Data

![title](Read_in.png)

In [10]:
df15 = pd.read_csv("2015.csv")
df16 = pd.read_csv("2016.csv")
df15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
pop = pd.read_csv("world_pop.csv")
pop.head()
pop = pop[["Country","2015","2016"]]
pop.head()

       Country        2015      2016
0        Aruba    104341.0    104822
1  Afghanistan  33736494.0  34656032
2       Angola  27859305.0  28813463
3      Albania   2880703.0   2876101
4      Andorra     78014.0     77281

Differences: Notice that the pandas dataframe starts counting at 0 where as in R it starts counting at 1. there are different ways to call the head, but other than that the data read-in process is pretty much the same

# Creating a Variable

In [11]:
df15["Year"] = 2015
df16["Year"] = 2016

In [12]:
df15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

# Merging

In [ ]:
# merge with population data from kaggle


# stack all of the years on top of each other

# Aggregating or grouping by a variable

In [ ]:
# averages by region

# Pivoting

In [ ]:
# maybe skip this?

# Visualizations